extends layout
block content
    div(class="flex-col-container")
        h1(class="mb-2")=title
        form(method="post")
            label(for="categoryName")  Name
            span(class="error")=nameError
            input(type='text', value=categoryName, id="categoryName" , name="categoryName", required)
            label(for="categoryDesc")  Description
            span(class="error")=descError
            textarea(name="categoryDesc", cols="30", rows="10" id="categoryDesc", required)=categoryDesc
            button(type="submit") Submit   