extends layout 
block content 
    div(class="card mb-2")
        h1="Sorry can't delete this category because there are items that belong to it."
    
    h1(class="mb-2")="Items that still belong to category"

    div(class="card-container")
        each item in categoryItems
            div(class='card')
                h1(class="capitalize")=item.name
                p(class="capitalize")=item.description
                h2(class="capitalize")= "$" + item.price
                h3(class="capitalize mb-1")= "Current Stock: " + item.number_in_stock
                a(href="/items/update/"+item._id, class="btn-link mb-1 bg-white")="Update " + item.name  
                a(href="/items/delete/"+item._id, class="btn-link bg-white")="Delete " + item.name 