extends layout
block content
    div(class="flex-col-container mb-2")
        h1(class="mb-1 font-size-lg")=title
        a(class="btn-link",href="/items/create") Create Item 
    div(class="card-container")
        each item in allItems
            div(class="card mb-2")
                h1(class='capitalize mb-1')=item.name
                p=item.description
                p="Category: " + item.category.name
                p="$" + item.price
                p(class="mb-1")="In stock: " + item.number_in_stock
                a(href="/items/update/"+item._id, class="btn-link mb-1 bg-white")="Update " + item.name  
                a(href="/items/delete/"+item._id, class="btn-link bg-white")="Delete " + item.name 